<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dao.message.MessageMapper">
	<resultMap type="Message" id="MessageList">
		<result property="id" column="id"/>
		<result property="allType" column="allType"/>
		<result property="childType" column="childType"/>
		<result property="mainTitle" column="mainTitle"/>
		<result property="viceTitle" column="viceTitle"/>
		<result property="provenance" column="provenance"/>
		<result property="newAuthor" column="newAuthor"/>
		<result property="releaseTime" column="releaseTime"/>
		<result property="releaseMan" column="releaseMan"/>
		<result property="modifyTime" column="modifyTime"/>
		<result property="modifyMan" column="modifyMan"/>
		<result property="auditState" column="auditState"/>
		<result property="auditMan" column="auditMan"/>
		<result property="auditTime" column="auditTime"/>
	</resultMap>
</mapper>