<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dao.classinfo.ClassInfoMapper">
<select id="findBy" resultType="ClassInfo">
		select * from ClassInfo where 1 = 1
			<if test="id != null">
				and Id = #{Id},
			</if>
			<if test="claName != null">
				and claName = #{claName},
			</if>
			<if test="faculty != null">
				and faculty = #{faculty},
			</if>
			<if test="head != null">
				and head = #{head},
			</if>
			<if test="claNumber != null">
				and claNumber = #{claNubmer},
			</if>
	</select>
	<!-- <resultMap type="ClassInfo" id="ClassInfoList">
		<id property="id" column="id"/>
		<result property="claName" column="claName"/>
		<result property="faculty" column="faculty"/>
		<result property="head" column="head"/>
		<result property="claNumber" column="claNumber"/>
	</resultMap>
	查询班级信息
	<select id="findABy" resultType="ClassInfo">
		select * from ClassInfo where 1 = 1
			<if test="id != null">
				and Id = #{Id},
			</if>
			<if test="claName != null">
				and claName = #{claName},
			</if>
			<if test="faculty != null">
				and faculty = #{faculty},
			</if>
			<if test="head != null">
				and head = #{claName},
			</if>
			<if test="chaNumber != null">
				and chaNumber = #{head},
			</if>
	</select>
	添加班级信息
	<insert id="insert"  parameterType="Integer">
		insert into ClassInfo(Id,claName,faculty,head,chaNumber)
			values(#{Id},#{chaName},#{faculty},#{head},#{chaNumber})
	</insert>
	修改班级信息
	<update id="update" parameterType="Integer">
		update chapter
		<set>
			<if test="Id != null">Id=#{Id}</if>
			<if test="claName != null">claName=#{claName}</if>
			<if test="faculty != null">faculty=#{faculty}</if>
			<if test="head != null">head=#{head}</if>
			<if test="chaNumber !=null">chaNumber=#{chaNumber}</if>
		</set>
		where id = #{id}
	</update>
	删除班级信息
	<delete id="delete" parameterType="Integer">
		delete form classinfo where id=#{id}
	</delete> -->
</mapper>