<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dao.Job.JobMapper">
	<resultMap type="Job" id="job">
		<id property="id" column="id"/>
		<result property="jid" column="jid"/>
		<result property="jname" column="jname"/>
		<result property="chaNumber" column="chaNumber"/>
	</resultMap>
	<!-- 查询作业信息 -->
	<select id="findBy" resultMap="Job">
		select * from Job where 1 = 1;
		<if test="jid!=null">
			and jid=#{jid}
		</if>
		<if test="jname!=null">
			and jname=#{jname}
		</if>
		<if test="chaNumber">
			and chaNumber=#{chaNumber}
		</if>
	</select>
	<!-- 添加作业 -->
	<insert id="addjob" parameterType="String">
		insert into (jid,jname,chaNumber)
			values(#{jid},#{jname},#{chaNumber})
	</insert>
	<!-- 修改作业 -->
	<update id="updatejob" parameterType="String">
		update Job
		<set>
			<if test="jid!=null">jid=#{jid}</if>
			<if test="chaNumber!=null">chaNumber=#{chaNumber}</if>
			<if test="jname!=null">jname=#{jname}</if>
		</set>
	</update>
	<!-- 删除章节 -->
	<delete id="deletejob" parameterType="String">
		delete * from Job where id=#{id};
	</delete>
</mapper>